.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .08rem .1rem;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: .3rem;
      width: .3rem;
    }

    .text {
      font-size: .16rem;
      font-weight: bold;
      padding-left: .06rem;
      letter-spacing: 1px;
    }
  }
}

.main {
  padding: .16rem;

  .status {
    display: flex;
    justify-content: space-between;
    gap: .1rem;
    font-size: .14rem;
    padding-top: .16rem;

    .status-card {
      flex: 1;
      display: flex;
      justify-content: space-around;
      padding: .1rem;
      background-color: #fff;
      background-position: .1rem center;
      background-repeat: no-repeat;
      padding-left: .3rem;
      border-radius: 8px;
    }

    .warning {
      background-image: url("/warning.svg");
    }

    .danger {
      background-image: url("/danger.svg");
    }
  }

  .grid-ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .1rem;
    padding: .16rem 0px;

    .card-li {
      background-color: #fff;
      border-radius: .08rem;
      padding: .15rem;
    }
  }
}

@media (min-width: 768px) {
  .main {
    .grid-ul {
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      column-gap: .15rem;
    }
  }
}