@import "tailwindcss";

html {
  font-size: 100px;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 0.16rem;
  height: 100%;
  background: #ebf1f4;
}

/* .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
} */

@media (min-width: 768px) {

  body {
    font-size: 14px;
  }
  /* .container {
    flex-direction: row;
    max-width: 720px;
    margin: 0 auto;
  } */
}

@media (min-width: 1200px) {

  /* .container {
    max-width: 1140px;
    margin: 0 auto;
    font-size: 1.8rem;
  } */
}